:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-self: center;
  text-align: center;
  gap: 500px;
  border-bottom: thin solid grey;
  padding: 0 15px;
} 

header input{
  width: 220px;
  height: 20px;
  align-self: center;
  border-radius: 5px;
  border: thin solid grey;
  padding: 5px;
}

header button{
  background-color: grey;
  color: white;
  height: 33px;
  padding: 7px;
  border: none;
}

header button:hover{
  background-color: rgb(204, 200, 200);
  color:black;
  border: none;
}

.search-bar{
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

header h2{
  margin-right: 20px;
}

.sidebar{
  width: 300px;
}

.note-content{
  display: grid;
  grid-auto-flow: column;
}

.category-navbar{
  display: grid;
  grid-auto-flow: column;
  border-bottom: thin solid rgba(128, 128, 128, 0.453);
}

.category-navbar a{
  color: black;
}

.category-navbar :hover{
  color: red;
}

.post-form{
  display: grid;
  grid-auto-flow: row;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.201);
}

.post-form button{
  justify-self: end;
  width: 100px;
  border: thin solid gray;
}
